In [1]:
import numpy as np
import pandas as pd
import os
import gc
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore") # ignore python warnings of deprecation

df = pd.read_csv('../lending-club-loan-data/loan.csv', na_values=['#NAME?']) # '#NAME?' in the datafile will be converted to NaN

In [2]:
df.shape

(887379, 74)

In [3]:
df.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
id                             887379 non-null int64
member_id                      887379 non-null int64
loan_amnt                      887379 non-null float64
funded_amnt                    887379 non-null float64
funded_amnt_inv                887379 non-null float64
term                           887379 non-null object
int_rate                       887379 non-null float64
installment                    887379 non-null float64
grade                          887379 non-null object
sub_grade                      887379 non-null object
emp_title                      835917 non-null object
emp_length                     842554 non-null object
home_ownership                 887379 non-null object
annual_inc                     887375 non-null float64
verification_status            887379 non-null object
issue_d                        887379 non-null object
loan_status                    887379 non-null object
pymnt_plan                     887379 non-null object
url                            887379 non-null object
desc                           126028 non-null object
purpose                        887379 non-null object
title                          887227 non-null object
zip_code                       887379 non-null object
addr_state                     887379 non-null object
dti                            887379 non-null float64
delinq_2yrs                    887350 non-null float64
earliest_cr_line               887350 non-null object
inq_last_6mths                 887350 non-null float64
mths_since_last_delinq         433067 non-null float64
mths_since_last_record         137053 non-null float64
open_acc                       887350 non-null float64
pub_rec                        887350 non-null float64
revol_bal                      887379 non-null float64
revol_util                     886877 non-null float64
total_acc                      887350 non-null float64
initial_list_status            887379 non-null object
out_prncp                      887379 non-null float64
out_prncp_inv                  887379 non-null float64
total_pymnt                    887379 non-null float64
total_pymnt_inv                887379 non-null float64
total_rec_prncp                887379 non-null float64
total_rec_int                  887379 non-null float64
total_rec_late_fee             887379 non-null float64
recoveries                     887379 non-null float64
collection_recovery_fee        887379 non-null float64
last_pymnt_d                   869720 non-null object
last_pymnt_amnt                887379 non-null float64
next_pymnt_d                   634408 non-null object
last_credit_pull_d             887326 non-null object
collections_12_mths_ex_med     887234 non-null float64
mths_since_last_major_derog    221703 non-null float64
policy_code                    887379 non-null float64
application_type               887379 non-null object
annual_inc_joint               511 non-null float64
dti_joint                      509 non-null float64
verification_status_joint      511 non-null object
acc_now_delinq                 887350 non-null float64
tot_coll_amt                   817103 non-null float64
tot_cur_bal                    817103 non-null float64
open_acc_6m                    21372 non-null float64
open_il_6m                     21372 non-null float64
open_il_12m                    21372 non-null float64
open_il_24m                    21372 non-null float64
mths_since_rcnt_il             20810 non-null float64
total_bal_il                   21372 non-null float64
il_util                        18617 non-null float64
open_rv_12m                    21372 non-null float64
open_rv_24m                    21372 non-null float64
max_bal_bc                     21372 non-null float64
all_util                       21372 non-null float64
total_rev_hi_lim               817103 non-null float64
inq_fi                         21372 non-null float64
total_cu_tl                    21372 non-null float64
inq_last_12m                   21372 non-null float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

In [5]:
#Removing features which has got 75% null values
nulls = pd.DataFrame(round(df.isnull().sum()/len(df.index)*100,2),columns=['null_percent'])
drop_cols = nulls[nulls['null_percent']>75.0].index
df.drop(drop_cols, axis=1, inplace=True)

In [6]:
df.shape

(887379, 54)

In [7]:
df.head

<bound method NDFrame.head of               id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0        1077501    1296599     5000.0       5000.0      4975.000000
1        1077430    1314167     2500.0       2500.0      2500.000000
2        1077175    1313524     2400.0       2400.0      2400.000000
3        1076863    1277178    10000.0      10000.0     10000.000000
4        1075358    1311748     3000.0       3000.0      3000.000000
5        1075269    1311441     5000.0       5000.0      5000.000000
6        1069639    1304742     7000.0       7000.0      7000.000000
7        1072053    1288686     3000.0       3000.0      3000.000000
8        1071795    1306957     5600.0       5600.0      5600.000000
9        1071570    1306721     5375.0       5375.0      5350.000000
10       1070078    1305201     6500.0       6500.0      6500.000000
11       1069908    1305008    12000.0      12000.0     12000.000000
12       1064687    1298717     9000.0       9000.0      9000.000000
13       1069866    1304956     3000.0       3000.0      3000.000000
14       1069057    1303503    10000.0      10000.0     10000.000000
15       1069759    1304871     1000.0       1000.0      1000.000000
16       1065775    1299699    10000.0      10000.0     10000.000000
17       1069971    1304884     3600.0       3600.0      3600.000000
18       1062474    1294539     6000.0       6000.0      6000.000000
19       1069742    1304855     9200.0       9200.0      9200.000000
20       1069740    1284848    20250.0      20250.0     19142.161077
21       1039153    1269083    21000.0      21000.0     21000.000000
22       1069710    1304821    10000.0      10000.0     10000.000000
23       1069700    1304810    10000.0      10000.0     10000.000000
24       1069559    1304634     6000.0       6000.0      6000.000000
25       1069697    1273773    15000.0      15000.0     15000.000000
26       1069800    1304679    15000.0      15000.0      8725.000000
27       1069657    1304764     5000.0       5000.0      5000.000000
28       1069799    1304678     4000.0       4000.0      4000.000000
29       1047704    1278806     8500.0       8500.0      8500.000000
...          ...        ...        ...          ...              ...
887349  36691397   39434133    20000.0      20000.0     20000.000000
887350  36500819   39232937    10300.0      10300.0     10300.000000
887351  36743377   39486112     4200.0       4200.0      4200.000000
887352  36231083   38942474    15000.0      15000.0     15000.000000
887353  36371802   39103231    15000.0      15000.0     15000.000000
887354  36250801   38962184     6000.0       6000.0      6000.000000
887355  36331554   39042967    26950.0      26950.0     26950.000000
887356  36460697   39182359    23000.0      23000.0     23000.000000
887357  35773415   38468842    18700.0      18700.0     18700.000000
887358  36440728   39152101    25000.0      25000.0     25000.000000
887359  35591131   38288343    25000.0      25000.0     25000.000000
887360  36361815   39093260    26500.0      26500.0     26500.000000
887361  36201871   38913321    21000.0      21000.0     21000.000000
887362  36381756   39013193     8000.0       8000.0      8000.000000
887363  36231724   38943173    12000.0      12000.0     12000.000000
887364  36231718   38943165    10775.0      10775.0     10775.000000
887365  36381704   39013139     7000.0       7000.0      7000.000000
887366  36241316   38952731     6225.0       6225.0      6225.000000
887367  36301729   39023153    10000.0      10000.0     10000.000000
887368  36250208   38961532    13150.0      13150.0     13150.000000
887369  36421485   39142898     4000.0       4000.0      4000.000000
887370  35094480   37777829     7500.0       7500.0      7500.000000
887371  36260758   38972123    10850.0      10850.0     10850.000000
887372  36330911   39042282    12000.0      12000.0     12000.000000
887373  36221446   38932858    11575.0      11575.0     11575.000000
887374  36371250   39102635    10000.0      10000.0     10000.000000
887375  36441262   39152692    24000.0      24000.0     24000.000000
887376  36271333   38982739    13000.0      13000.0     13000.000000
887377  36490806   39222577    12000.0      12000.0     12000.000000
887378  36271262   38982659    20000.0      20000.0     20000.000000

              term  int_rate  installment grade sub_grade       ...         \
0        36 months     10.65       162.87     B        B2       ...
1        60 months     15.27        59.83     C        C4       ...
2        36 months     15.96        84.33     C        C5       ...
3        36 months     13.49       339.31     C        C1       ...
4        60 months     12.69        67.79     B        B5       ...
5        36 months      7.90       156.46     A        A4       ...
6        60 months     15.96       170.08     C        C5       ...
7        36 months     18.64       109.43     E        E1       ...
8        60 months     21.28       152.39     F        F2       ...
9        60 months     12.69       121.45     B        B5       ...
10       60 months     14.65       153.45     C        C3       ...
11       36 months     12.69       402.54     B        B5       ...
12       36 months     13.49       305.38     C        C1       ...
13       36 months      9.91        96.68     B        B1       ...
14       36 months     10.65       325.74     B        B2       ...
15       36 months     16.29        35.31     D        D1       ...
16       36 months     15.27       347.98     C        C4       ...
17       36 months      6.03       109.57     A        A1       ...
18       36 months     11.71       198.46     B        B3       ...
19       36 months      6.03       280.01     A        A1       ...
20       60 months     15.27       484.63     C        C4       ...
21       36 months     12.42       701.73     B        B4       ...
22       36 months     11.71       330.76     B        B3       ...
23       36 months     11.71       330.76     B        B3       ...
24       36 months     11.71       198.46     B        B3       ...
25       36 months      9.91       483.38     B        B1       ...
26       36 months     14.27       514.64     C        C2       ...
27       60 months     16.77       123.65     D        D2       ...
28       36 months     11.71       132.31     B        B3       ...
29       36 months     11.71       281.15     B        B3       ...
...            ...       ...          ...   ...       ...       ...
887349   36 months      6.99       617.46     A        A3       ...
887350   60 months     13.66       237.86     C        C3       ...
887351   36 months     15.99       147.64     D        D2       ...
887352   36 months     11.99       498.15     B        B5       ...
887353   60 months     11.44       329.44     B        B4       ...
887354   36 months     17.86       216.50     D        D5       ...
887355   36 months      8.19       846.88     A        A5       ...
887356   60 months     15.59       554.32     D        D1       ...
887357   60 months     17.86       473.44     D        D5       ...
887358   60 months     15.99       607.82     D        D2       ...
887359   60 months     15.59       602.52     D        D1       ...
887360   60 months      8.67       545.87     B        B1       ...
887361   36 months      6.03       639.15     A        A1       ...
887362   36 months      8.19       251.40     A        A5       ...
887363   36 months      9.49       384.34     B        B2       ...
887364   36 months      6.03       327.95     A        A1       ...
887365   36 months     14.31       240.30     C        C4       ...
887366   36 months     16.49       220.37     D        D3       ...
887367   36 months      6.49       306.45     A        A2       ...
887368   60 months     14.99       312.77     C        C5       ...
887369   36 months      8.67       126.59     B        B1       ...
887370   36 months      9.49       240.22     B        B2       ...
887371   36 months     19.24       399.04     E        E2       ...
887372   36 months     11.99       398.52     B        B5       ...
887373   36 months     15.59       404.61     D        D1       ...
887374   36 months     11.99       332.10     B        B5       ...
887375   36 months     11.99       797.03     B        B5       ...
887376   60 months     15.99       316.07     D        D2       ...
887377   60 months     19.99       317.86     E        E3       ...
887378   36 months     11.99       664.20     B        B5       ...

       last_pymnt_amnt next_pymnt_d last_credit_pull_d  \
0               171.62          NaN           Jan-2016
1               119.66          NaN           Sep-2013
2               649.91          NaN           Jan-2016
3               357.48          NaN           Jan-2015
4                67.79     Feb-2016           Jan-2016
5               161.03          NaN           Sep-2015
6               170.08     Feb-2016           Jan-2016
7               111.34          NaN           Dec-2014
8               152.39          NaN           Aug-2012
9               121.45          NaN           Mar-2013
10             1655.54          NaN           Dec-2015
11             6315.30          NaN           Aug-2013
12              305.38          NaN           Nov-2012
13              102.43          NaN           Jan-2016
14              325.74          NaN           Mar-2014
15               36.32          NaN           Jan-2016
16              370.46          NaN           Apr-2015
17              583.45          NaN           May-2014
18               16.98          NaN           Jul-2015
19             8061.10          NaN           Jul-2012
20             6024.09          NaN           Dec-2015
21              701.73          NaN           Jan-2016
22              349.21          NaN           Jan-2016
23             4942.63          NaN           Mar-2014
24              198.46          NaN           Mar-2013
25             2447.05          NaN           Sep-2012
26                0.00          NaN           Jan-2016
27              123.65          NaN           May-2013
28             2638.77          NaN           Jan-2016
29              581.59          NaN           Jan-2015
...                ...          ...                ...
887349          617.46     Feb-2016           Jan-2016
887350          237.86     Feb-2016           Jan-2016
887351          147.64          NaN           Jan-2016
887352          498.15     Feb-2016           Jan-2016
887353          329.44     Feb-2016           Jan-2016
887354          216.50     Feb-2016           Jan-2016
887355          846.88     Feb-2016           Jan-2016
887356          554.32     Feb-2016           Jan-2016
887357          473.44     Feb-2016           Jan-2016
887358          607.82     Feb-2016           Jan-2016
887359          602.52     Feb-2016           Jan-2016
887360          545.87     Feb-2016           Jan-2016
887361          639.15     Feb-2016           Jan-2016
887362          251.40     Feb-2016           Jan-2016
887363          384.34     Feb-2016           Jan-2016
887364         9439.34          NaN           Jun-2015
887365          240.30     Feb-2016           Jan-2016
887366         4858.17          NaN           Dec-2015
887367          306.45     Feb-2016           Jan-2016
887368          312.77     Feb-2016           Mar-2015
887369         3655.51          NaN           Nov-2015
887370          240.22     Feb-2016           Jan-2016
887371           25.00          NaN           Jan-2016
887372          398.52     Feb-2016           Jan-2016
887373          404.61     Feb-2016           Jan-2016
887374          332.10     Feb-2016           Jan-2016
887375          797.03     Feb-2016           Jan-2016
887376          316.07     Feb-2016           Jan-2016
887377          317.86     Feb-2016           Jan-2016
887378          664.20     Feb-2016           Jan-2016

        collections_12_mths_ex_med policy_code application_type  \
0                              0.0         1.0       INDIVIDUAL
1                              0.0         1.0       INDIVIDUAL
2                              0.0         1.0       INDIVIDUAL
3                              0.0         1.0       INDIVIDUAL
4                              0.0         1.0       INDIVIDUAL
5                              0.0         1.0       INDIVIDUAL
6                              0.0         1.0       INDIVIDUAL
7                              0.0         1.0       INDIVIDUAL
8                              0.0         1.0       INDIVIDUAL
9                              0.0         1.0       INDIVIDUAL
10                             0.0         1.0       INDIVIDUAL
11                             0.0         1.0       INDIVIDUAL
12                             0.0         1.0       INDIVIDUAL
13                             0.0         1.0       INDIVIDUAL
14                             0.0         1.0       INDIVIDUAL
15                             0.0         1.0       INDIVIDUAL
16                             0.0         1.0       INDIVIDUAL
17                             0.0         1.0       INDIVIDUAL
18                             0.0         1.0       INDIVIDUAL
19                             0.0         1.0       INDIVIDUAL
20                             0.0         1.0       INDIVIDUAL
21                             0.0         1.0       INDIVIDUAL
22                             0.0         1.0       INDIVIDUAL
23                             0.0         1.0       INDIVIDUAL
24                             0.0         1.0       INDIVIDUAL
25                             0.0         1.0       INDIVIDUAL
26                             0.0         1.0       INDIVIDUAL
27                             0.0         1.0       INDIVIDUAL
28                             0.0         1.0       INDIVIDUAL
29                             0.0         1.0       INDIVIDUAL
...                            ...         ...              ...
887349                         0.0         1.0       INDIVIDUAL
887350                         0.0         1.0       INDIVIDUAL
887351                         0.0         1.0       INDIVIDUAL
887352                         0.0         1.0       INDIVIDUAL
887353                         0.0         1.0       INDIVIDUAL
887354                         0.0         1.0       INDIVIDUAL
887355                         0.0         1.0       INDIVIDUAL
887356                         0.0         1.0       INDIVIDUAL
887357                         0.0         1.0       INDIVIDUAL
887358                         0.0         1.0       INDIVIDUAL
887359                         0.0         1.0       INDIVIDUAL
887360                         0.0         1.0       INDIVIDUAL
887361                         0.0         1.0       INDIVIDUAL
887362                         0.0         1.0       INDIVIDUAL
887363                         0.0         1.0       INDIVIDUAL
887364                         0.0         1.0       INDIVIDUAL
887365                         0.0         1.0       INDIVIDUAL
887366                         0.0         1.0       INDIVIDUAL
887367                         0.0         1.0       INDIVIDUAL
887368                         0.0         1.0       INDIVIDUAL
887369                         0.0         1.0       INDIVIDUAL
887370                         0.0         1.0       INDIVIDUAL
887371                         0.0         1.0       INDIVIDUAL
887372                         0.0         1.0       INDIVIDUAL
887373                         0.0         1.0       INDIVIDUAL
887374                         0.0         1.0       INDIVIDUAL
887375                         0.0         1.0       INDIVIDUAL
887376                         0.0         1.0       INDIVIDUAL
887377                         1.0         1.0       INDIVIDUAL
887378                         0.0         1.0       INDIVIDUAL

       acc_now_delinq tot_coll_amt tot_cur_bal total_rev_hi_lim
0                 0.0          NaN         NaN              NaN
1                 0.0          NaN         NaN              NaN
2                 0.0          NaN         NaN              NaN
3                 0.0          NaN         NaN              NaN
4                 0.0          NaN         NaN              NaN
5                 0.0          NaN         NaN              NaN
6                 0.0          NaN         NaN              NaN
7                 0.0          NaN         NaN              NaN
8                 0.0          NaN         NaN              NaN
9                 0.0          NaN         NaN              NaN
10                0.0          NaN         NaN              NaN
11                0.0          NaN         NaN              NaN
12                0.0          NaN         NaN              NaN
13                0.0          NaN         NaN              NaN
14                0.0          NaN         NaN              NaN
15                0.0          NaN         NaN              NaN
16                0.0          NaN         NaN              NaN
17                0.0          NaN         NaN              NaN
18                0.0          NaN         NaN              NaN
19                0.0          NaN         NaN              NaN
20                0.0          NaN         NaN              NaN
21                0.0          NaN         NaN              NaN
22                0.0          NaN         NaN              NaN
23                0.0          NaN         NaN              NaN
24                0.0          NaN         NaN              NaN
25                0.0          NaN         NaN              NaN
26                0.0          NaN         NaN              NaN
27                0.0          NaN         NaN              NaN
28                0.0          NaN         NaN              NaN
29                0.0          NaN         NaN              NaN
...               ...          ...         ...              ...
887349            0.0          0.0    388140.0          39700.0
887350            0.0         50.0     41956.0          22000.0
887351            0.0          0.0    207975.0          20400.0
887352            0.0          0.0     15724.0           9700.0
887353            0.0          0.0     33529.0          26100.0
887354            0.0          0.0    384500.0           8500.0
887355            0.0          0.0     41650.0         129100.0
887356            0.0          0.0     48978.0          65600.0
887357            0.0          0.0     40164.0          10200.0
887358            0.0          0.0     17275.0          18700.0
887359            0.0          0.0     13860.0          24400.0
887360            0.0          0.0    115511.0         118600.0
887361            0.0          0.0    212337.0          76300.0
887362            0.0          0.0    211412.0           7300.0
887363            0.0          0.0     20671.0          11900.0
887364            0.0          0.0     24696.0          41700.0
887365            0.0          0.0     32135.0           9900.0
887366            0.0          0.0      8357.0           1800.0
887367            0.0          0.0     88120.0          30300.0
887368            0.0          0.0    158977.0          20700.0
887369            0.0          0.0     18979.0          30100.0
887370            0.0       3174.0     18611.0          14500.0
887371            0.0        972.0     53777.0          16800.0
887372            0.0          0.0    237002.0          30300.0
887373            0.0          0.0     19798.0          28100.0
887374            0.0          0.0     25274.0          17100.0
887375            0.0          0.0    140285.0          10200.0
887376            0.0          0.0     34178.0          18000.0
887377            0.0          0.0     58418.0          27000.0
887378            0.0          0.0     33307.0          41700.0

[887379 rows x 54 columns]>

In [9]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

In [10]:
# Check missing values count and percent
total= df.isnull().sum().sort_values(ascending=False)
percent= (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)*100
missing_data= pd.concat([total, percent],axis=1, keys=["Total", "Percent"])
missing_data.head(54)

                             Total    Percent
mths_since_last_delinq      454312  51.197065
next_pymnt_d                252971  28.507661
tot_cur_bal                  70276   7.919502
total_rev_hi_lim             70276   7.919502
tot_coll_amt                 70276   7.919502
emp_title                    51462   5.799326
emp_length                   44825   5.051393
last_pymnt_d                 17659   1.990018
revol_util                     502   0.056571
title                          152   0.017129
collections_12_mths_ex_med     145   0.016340
last_credit_pull_d              53   0.005973
total_acc                       29   0.003268
delinq_2yrs                     29   0.003268
earliest_cr_line                29   0.003268
open_acc                        29   0.003268
pub_rec                         29   0.003268
inq_last_6mths                  29   0.003268
acc_now_delinq                  29   0.003268
annual_inc                       4   0.000451
out_prncp_inv                    0   0.000000
out_prncp                        0   0.000000
issue_d                          0   0.000000
verification_status              0   0.000000
home_ownership                   0   0.000000
application_type                 0   0.000000
sub_grade                        0   0.000000
grade                            0   0.000000
installment                      0   0.000000
int_rate                         0   0.000000
term                             0   0.000000
funded_amnt_inv                  0   0.000000
funded_amnt                      0   0.000000
loan_amnt                        0   0.000000
member_id                        0   0.000000
loan_status                      0   0.000000
pymnt_plan                       0   0.000000
url                              0   0.000000
total_rec_late_fee               0   0.000000
initial_list_status              0   0.000000
total_pymnt                      0   0.000000
total_pymnt_inv                  0   0.000000
revol_bal                        0   0.000000
total_rec_prncp                  0   0.000000
total_rec_int                    0   0.000000
recoveries                       0   0.000000
purpose                          0   0.000000
collection_recovery_fee          0   0.000000
last_pymnt_amnt                  0   0.000000
dti                              0   0.000000
addr_state                       0   0.000000
zip_code                         0   0.000000
policy_code                      0   0.000000
id                               0   0.000000

In [11]:
# Any variable having missing values more than 50 percent are removed
df.drop([
         "emp_length", "next_pymnt_d", "last_pymnt_d", "mths_since_last_delinq",
         "revol_util", "collections_12_mths_ex_med","last_credit_pull_d",
         "earliest_cr_line","open_acc", "revol_util","pub_rec", "revol_bal", "funded_amnt",             
         "total_rev_hi_lim","emp_length", "emp_title", "tot_cur_bal" , "tot_coll_amt"], axis=1,
           inplace=True)



# Delete unwanted columns
df.drop(["url"], axis=1, inplace=True)

# Payment plan has all the values "n" and only 3 values "y" so it is not important
df.drop(["pymnt_plan"], axis=1, inplace=True)

# Since we have both address state and zip code let's drop zip code and use address state only
df.drop(["zip_code"], axis=1, inplace=True)

# Title is not important instead we will use "purpose" variable
df.drop(["title"], axis=1, inplace=True)

# The grade is implied by the subgrade, so let's drop the grade column.
#df.drop(["grade"], axis=1, inplace=True)

In [12]:
df.shape

(887379, 34)

In [13]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'purpose',
       'addr_state', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'policy_code', 'application_type', 'acc_now_delinq'],
      dtype='object')

In [14]:
df.drop(["installment",        
"issue_d",       
"out_prncp" ,       
"out_prncp_inv",        
"total_rec_prncp",       
"total_rec_int",        
"total_rec_prncp",       
"total_rec_int",        
"total_rec_late_fee",       
"recoveries",        
"collection_recovery_fee",        
"last_pymnt_amnt",        
"policy_code",        
"application_type",       
"acc_now_delinq",        
"out_prncp",        
"out_prncp_inv",       
"initial_list_status"], axis=1, inplace=True)

In [15]:
df.shape

(887379, 20)

In [16]:
#Let's see the data shape and NaN values
print(df.shape)
print(type(df))
print(df.head())
print(df.isnull().sum())
print(df.isnull().sum().value_counts())

(887379, 20)
<class 'pandas.core.frame.DataFrame'>
        id  member_id  loan_amnt  funded_amnt_inv        term  int_rate grade  \
0  1077501    1296599     5000.0           4975.0   36 months     10.65     B
1  1077430    1314167     2500.0           2500.0   60 months     15.27     C
2  1077175    1313524     2400.0           2400.0   36 months     15.96     C
3  1076863    1277178    10000.0          10000.0   36 months     13.49     C
4  1075358    1311748     3000.0           3000.0   60 months     12.69     B

  sub_grade home_ownership  annual_inc verification_status  loan_status  \
0        B2           RENT     24000.0            Verified   Fully Paid
1        C4           RENT     30000.0     Source Verified  Charged Off
2        C5           RENT     12252.0        Not Verified   Fully Paid
3        C1           RENT     49200.0     Source Verified   Fully Paid
4        B5           RENT     80000.0     Source Verified      Current

          purpose addr_state    dti  delinq_2yrs  inq_last_6mths  total_acc  \
0     credit_card         AZ  27.65          0.0             1.0        9.0
1             car         GA   1.00          0.0             5.0        4.0
2  small_business         IL   8.72          0.0             2.0       10.0
3           other         CA  20.00          0.0             1.0       37.0
4           other         OR  17.94          0.0             0.0       38.0

    total_pymnt  total_pymnt_inv
0   5861.071414          5831.78
1   1008.710000          1008.71
2   3003.653644          3003.65
3  12226.302212         12226.30
4   3242.170000          3242.17
id                      0
member_id               0
loan_amnt               0
funded_amnt_inv         0
term                    0
int_rate                0
grade                   0
sub_grade               0
home_ownership          0
annual_inc              4
verification_status     0
loan_status             0
purpose                 0
addr_state              0
dti                     0
delinq_2yrs            29
inq_last_6mths         29
total_acc              29
total_pymnt             0
total_pymnt_inv         0
dtype: int64
0     16
29     3
4      1
dtype: int64

In [69]:
df.to_csv(r'C:\Users\Admin\Desktop\Data Science Methods and Tools\lending-club-loan-data\loan_preproccesed.csv', index = None, header=True)

In [11]:
#Filling the numeric columns with missing values by mean
for cols in df.columns:
    if df[cols].isnull().sum() != 0:
        df[cols].fillna((df[cols].mean()), inplace=True)
        
df.isnull().sum()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [71]:
df.to_csv(r'C:\Users\Admin\Desktop\Data Science Methods and Tools\lending-club-loan-data\loan_prep.csv', index = None, header=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 20 columns):
id                     887379 non-null int64
member_id              887379 non-null int64
loan_amnt              887379 non-null float64
funded_amnt_inv        887379 non-null float64
term                   887379 non-null object
int_rate               887379 non-null float64
grade                  887379 non-null object
sub_grade              887379 non-null object
home_ownership         887379 non-null object
annual_inc             887379 non-null float64
verification_status    887379 non-null object
loan_status            887379 non-null object
purpose                887379 non-null object
addr_state             887379 non-null object
dti                    887379 non-null float64
delinq_2yrs            887379 non-null float64
inq_last_6mths         887379 non-null float64
total_acc              887379 non-null float64
total_pymnt            887379 non-null float64
total_pymnt_inv        887379 non-null float64
dtypes: float64(10), int64(2), object(8)
memory usage: 135.4+ MB

In [19]:
#Checking for object columns
print(df.select_dtypes(['object']).columns)

Index(['term', 'grade', 'sub_grade', 'home_ownership', 'verification_status',
       'loan_status', 'purpose', 'addr_state'],
      dtype='object')

In [20]:
obj_cats = ['term', 'grade', 'sub_grade', 'home_ownership', 'verification_status',
       'loan_status', 'purpose', 'addr_state']

In [21]:
#Converting the object datatype of columns to category except date as it is datetime object
for colname in obj_cats:
    df[colname] = df[colname].astype('category')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 20 columns):
id                     887379 non-null int64
member_id              887379 non-null int64
loan_amnt              887379 non-null float64
funded_amnt_inv        887379 non-null float64
term                   887379 non-null category
int_rate               887379 non-null float64
grade                  887379 non-null category
sub_grade              887379 non-null category
home_ownership         887379 non-null category
annual_inc             887379 non-null float64
verification_status    887379 non-null category
loan_status            887379 non-null category
purpose                887379 non-null category
addr_state             887379 non-null category
dti                    887379 non-null float64
delinq_2yrs            887379 non-null float64
inq_last_6mths         887379 non-null float64
total_acc              887379 non-null float64
total_pymnt            887379 non-null float64
total_pymnt_inv        887379 non-null float64
dtypes: category(8), float64(10), int64(2)
memory usage: 88.0 MB

In [77]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
df.head()

,id,member_id,loan_amnt,funded_amnt_inv,term,int_rate,grade,sub_grade,home_ownership,annual_inc,verification_status,loan_status,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,total_acc,total_pymnt,total_pymnt_inv
0,1077501,1296599,5000.0,4975.0,36 months,10.65,B,B2,RENT,24000.0,Verified,Fully Paid,credit_card,AZ,27.65,0.0,1.0,9.0,5861.071414,5831.78
1,1077430,1314167,2500.0,2500.0,60 months,15.27,C,C4,RENT,30000.0,Source Verified,Charged Off,car,GA,1.00,0.0,5.0,4.0,1008.710000,1008.71
2,1077175,1313524,2400.0,2400.0,36 months,15.96,C,C5,RENT,12252.0,Not Verified,Fully Paid,small_business,IL,8.72,0.0,2.0,10.0,3003.653644,3003.65
3,1076863,1277178,10000.0,10000.0,36 months,13.49,C,C1,RENT,49200.0,Source Verified,Fully Paid,other,CA,20.00,0.0,1.0,37.0,12226.302212,12226.30
4,1075358,1311748,3000.0,3000.0,60 months,12.69,B,B5,RENT,80000.0,Source Verified,Current,other,OR,17.94,0.0,0.0,38.0,3242.170000,3242.17

In [23]:
# Create a set of dummy variables from the term variable
df_term = pd.get_dummies(df['term'])

In [24]:
# Join the dummy variables to the main dataframe
df_new = pd.concat([df, df_term], axis=1)
df_new

,id,member_id,loan_amnt,funded_amnt_inv,term,int_rate,grade,sub_grade,home_ownership,annual_inc,...,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,total_acc,total_pymnt,total_pymnt_inv,36 months,60 months
0,1077501,1296599,5000.0,4975.000000,36 months,10.65,B,B2,RENT,24000.00,...,credit_card,AZ,27.65,0.0,1.0,9.0,5861.071414,5831.78,1,0
1,1077430,1314167,2500.0,2500.000000,60 months,15.27,C,C4,RENT,30000.00,...,car,GA,1.00,0.0,5.0,4.0,1008.710000,1008.71,0,1
2,1077175,1313524,2400.0,2400.000000,36 months,15.96,C,C5,RENT,12252.00,...,small_business,IL,8.72,0.0,2.0,10.0,3003.653644,3003.65,1,0
3,1076863,1277178,10000.0,10000.000000,36 months,13.49,C,C1,RENT,49200.00,...,other,CA,20.00,0.0,1.0,37.0,12226.302212,12226.30,1,0
4,1075358,1311748,3000.0,3000.000000,60 months,12.69,B,B5,RENT,80000.00,...,other,OR,17.94,0.0,0.0,38.0,3242.170000,3242.17,0,1
5,1075269,1311441,5000.0,5000.000000,36 months,7.90,A,A4,RENT,36000.00,...,wedding,AZ,11.20,0.0,3.0,12.0,5631.377753,5631.38,1,0
6,1069639,1304742,7000.0,7000.000000,60 months,15.96,C,C5,RENT,47004.00,...,debt_consolidation,NC,23.51,0.0,1.0,11.0,8136.840000,8136.84,0,1
7,1072053,1288686,3000.0,3000.000000,36 months,18.64,E,E1,RENT,48000.00,...,car,CA,5.35,0.0,2.0,4.0,3938.144334,3938.14,1,0
8,1071795,1306957,5600.0,5600.000000,60 months,21.28,F,F2,OWN,40000.00,...,small_business,CA,5.55,0.0,2.0,13.0,646.020000,646.02,0,1
9,1071570,1306721,5375.0,5350.000000,60 months,12.69,B,B5,RENT,15000.00,...,other,TX,18.08,0.0,0.0,3.0,1476.190000,1469.34,0,1
10,1070078,1305201,6500.0,6500.000000,60 months,14.65,C,C3,OWN,72000.00,...,debt_consolidation,AZ,16.12,0.0,2.0,23.0,7677.520000,7677.52,0,1
11,1069908,1305008,12000.0,12000.000000,36 months,12.69,B,B5,OWN,75000.00,...,debt_consolidation,CA,10.78,0.0,0.0,34.0,13943.080000,13943.08,1,0
12,1064687,1298717,9000.0,9000.000000,36 months,13.49,C,C1,RENT,30000.00,...,debt_consolidation,VA,10.08,0.0,1.0,9.0,2270.700000,2270.70,1,0
13,1069866,1304956,3000.0,3000.000000,36 months,9.91,B,B1,RENT,15000.00,...,credit_card,IL,12.56,0.0,2.0,11.0,3478.981915,3478.98,1,0
14,1069057,1303503,10000.0,10000.000000,36 months,10.65,B,B2,RENT,100000.00,...,other,CA,7.06,0.0,2.0,29.0,7471.990000,7471.99,1,0
15,1069759,1304871,1000.0,1000.000000,36 months,16.29,D,D1,RENT,28000.00,...,debt_consolidation,MO,20.31,0.0,1.0,23.0,1270.171106,1270.17,1,0
16,1065775,1299699,10000.0,10000.000000,36 months,15.27,C,C4,RENT,42000.00,...,home_improvement,CA,18.60,0.0,2.0,28.0,12519.260450,12519.26,1,0
17,1069971,1304884,3600.0,3600.000000,36 months,6.03,A,A1,MORTGAGE,110000.00,...,major_purchase,CT,10.52,0.0,0.0,42.0,3785.020000,3785.02,1,0
18,1062474,1294539,6000.0,6000.000000,36 months,11.71,B,B3,MORTGAGE,84000.00,...,medical,UT,18.44,2.0,0.0,14.0,7164.499852,7164.50,1,0
19,1069742,1304855,9200.0,9200.000000,36 months,6.03,A,A1,RENT,77385.19,...,debt_consolidation,CA,9.86,0.0,0.0,28.0,9459.960000,9459.96,1,0
20,1069740,1284848,20250.0,19142.161077,60 months,15.27,C,C4,RENT,43370.00,...,debt_consolidation,TX,26.53,0.0,3.0,22.0,27663.042671,25417.68,0,1
21,1039153,1269083,21000.0,21000.000000,36 months,12.42,B,B4,RENT,105000.00,...,debt_consolidation,FL,13.22,0.0,0.0,38.0,14025.400000,14025.40,1,0
22,1069710,1304821,10000.0,10000.000000,36 months,11.71,B,B3,OWN,50000.00,...,credit_card,TX,11.18,0.0,0.0,21.0,11902.561575,11902.56,1,0
23,1069700,1304810,10000.0,10000.000000,36 months,11.71,B,B3,RENT,50000.00,...,debt_consolidation,CA,16.01,0.0,0.0,17.0,11536.310000,11536.31,1,0
24,1069559,1304634,6000.0,6000.000000,36 months,11.71,B,B3,RENT,76000.00,...,major_purchase,CA,2.40,0.0,1.0,7.0,2050.140000,2050.14,1,0
25,1069697,1273773,15000.0,15000.000000,36 months,9.91,B,B1,MORTGAGE,92000.00,...,credit_card,IL,29.44,0.0,0.0,31.0,15823.480000,15823.48,1,0
26,1069800,1304679,15000.0,8725.000000,36 months,14.27,C,C2,RENT,60000.00,...,debt_consolidation,NY,15.22,0.0,1.0,11.0,0.000000,0.00,1,0
27,1069657,1304764,5000.0,5000.000000,60 months,16.77,D,D2,RENT,50004.00,...,other,PA,13.97,3.0,0.0,22.0,1609.120000,1609.12,0,1
28,1069799,1304678,4000.0,4000.000000,36 months,11.71,B,B3,MORTGAGE,106000.00,...,debt_consolidation,FL,5.63,1.0,0.0,44.0,4484.790000,4484.79,1,0
29,1047704,1278806,8500.0,8500.000000,36 months,11.71,B,B3,RENT,25000.00,...,credit_card,MN,12.19,0.0,0.0,12.0,10122.208614,10122.21,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,36691397,39434133,20000.0,20000.000000,36 months,6.99,A,A3,MORTGAGE,72000.00,...,debt_consolidation,FL,27.24,0.0,1.0,27.0,7393.990000,7393.99,1,0
887350,36500819,39232937,10300.0,10300.000000,60 months,13.66,C,C3,RENT,93600.00,...,debt_consolidation,CA,15.72,1.0,0.0,24.0,2838.690000,2838.69,0,1
887351,36743377,39486112,4200.0,4200.000000,36 months,15.99,D,D2,MORTGAGE,48000.00,...,medical,CO,36.93,0.0,0.0,45.0,1026.020000,1026.02,1,0
887352,36231083,38942474,15000.0,15000.000000,36 months,11.99,B,B5,RENT,70000.00,...,debt_consolidation,MD,8.47,0.0,0.0,15.0,5957.820000,5957.82,1,0
887353,36371802,39103231,15000.0,15000.000000,60 months,11.44,B,B4,RENT,57000.00,...,debt_consolidation,FL,15.77,0.0,0.0,10.0,3934.210000,3934.21,0,1
887354,36250801,38962184,6000.0,6000.000000,36 months,17.86,D,D5,MORTGAGE,90000.00,...,debt_consolidation,GA,2.84,0.0,0.0,16.0,2586.090000,2586.09,1,0
887355,36331554,39042967,26950.0,26950.000000,36 months,8.19,A,A5,RENT,54000.00,...,debt_consolidation,UT,18.11,0.0,0.0,28.0,10138.040000,10138.04,1,0
887356,36460697,39182359,23000.0,23000.000000,60 months,15.59,D,D1,MORTGAGE,50000.00,...,credit_card,MT,31.95,0.0,0.0,29.0,6612.000000,6612.00,0,1
887357,35773415,38468842,18700.0,18700.000000,60 months,17.86,D,D5,RENT,52000.00,...,debt_consolidation,KY,11.28,0.0,0.0,18.0,5644.170000,5644.17,0,1
887358,36440728,39152101,25000.0,25000.000000,60 months,15.99,D,D2,RENT,103000.00,...,debt_consolidation,NC,5.27,0.0,0.0,7.0,7249.420000,7249.42,0,1
887359,35591131,38288343,25000.0,25000.000000,60 months,15.59,D,D1,OWN,55000.00,...,debt_consolidation,MN,5.52,0.0,0.0,26.0,7186.930000,7186.93,0,1
887360,36361815,39093260,26500.0,26500.000000,60 months,8.67,B,B1,MORTGAGE,92000.00,...,debt_consolidation,NY,29.60,1.0,0.0,21.0,6553.310000,6553.31,0,1
887361,36201871,38913321,21000.0,21000.000000,36 months,6.03,A,A1,MORTGAGE,65000.00,...,credit_card,MA,17.09,0.0,0.0,25.0,7655.730000,7655.73,1,0
887362,36381756,39013193,8000.0,8000.000000,36 months,8.19,A,A5,MORTGAGE,50000.00,...,debt_consolidation,NM,17.62,0.0,1.0,27.0,3009.520000,3009.52,1,0
887363,36231724,38943173,12000.0,12000.000000,36 months,9.49,B,B2,RENT,40000.00,...,debt_consolidation,NV,25.65,1.0,0.0,15.0,4946.950000,4946.95,1,0
887364,36231718,38943165,10775.0,10775.000000,36 months,6.03,A,A1,RENT,54000.00,...,debt_consolidation,FL,13.22,1.0,0.0,21.0,11071.870000,11071.87,1,0
887365,36381704,39013139,7000.0,7000.000000,36 months,14.31,C,C4,RENT,57000.00,...,debt_consolidation,IN,16.80,2.0,3.0,30.0,2878.840000,2878.84,1,0
887366,36241316,38952731,6225.0,6225.000000,36 months,16.49,D,D3,RENT,27000.00,...,debt_consolidation,FL,18.58,0.0,1.0,4.0,7050.460000,7050.46,1,0
887367,36301729,39023153,10000.0,10000.000000,36 months,6.49,A,A2,RENT,75000.00,...,debt_consolidation,FL,33.66,0.0,0.0,32.0,3670.190000,3670.19,1,0
887368,36250208,38961532,13150.0,13150.000000,60 months,14.99,C,C5,MORTGAGE,30000.00,...,major_purchase,NC,1.00,0.0,0.0,14.0,3731.340000,3731.34,0,1
887369,36421485,39142898,4000.0,4000.000000,36 months,8.67,B,B1,MORTGAGE,50000.00,...,car,CA,12.63,0.0,0.0,30.0,4158.020000,4158.02,1,0
887370,35094480,37777829,7500.0,7500.000000,36 months,9.49,B,B2,RENT,40000.00,...,debt_consolidation,WI,25.63,0.0,0.0,29.0,2874.730000,2874.73,1,0
887371,36260758,38972123,10850.0,10850.000000,36 months,19.24,E,E2,OWN,32000.00,...,debt_consolidation,OH,29.44,0.0,1.0,20.0,2396.050000,2396.05,1,0
887372,36330911,39042282,12000.0,12000.000000,36 months,11.99,B,B5,MORTGAGE,63000.00,...,credit_card,OH,23.69,1.0,0.0,61.0,4766.250000,4766.25,1,0
887373,36221446,38932858,11575.0,11575.000000,36 months,15.59,D,D1,RENT,25400.00,...,credit_card,TX,27.08,0.0,0.0,18.0,4863.330000,4863.33,1,0
887374,36371250,39102635,10000.0,10000.000000,36 months,11.99,B,B5,RENT,31000.00,...,debt_consolidation,CA,28.69,0.0,0.0,15.0,3971.880000,3971.88,1,0
887375,36441262,39152692,24000.0,24000.000000,36 months,11.99,B,B5,MORTGAGE,79000.00,...,home_improvement,NJ,3.90,0.0,1.0,23.0,9532.390000,9532.39,1,0
887376,36271333,38982739,13000.0,13000.000000,60 months,15.99,D,D2,RENT,35000.00,...,debt_consolidation,TN,30.90,0.0,0.0,22.0,3769.740000,3769.74,0,1
887377,36490806,39222577,12000.0,12000.000000,60 months,19.99,E,E3,RENT,64400.00,...,debt_consolidation,MA,27.19,1.0,2.0,20.0,3787.670000,3787.67,0,1
887378,36271262,38982659,20000.0,20000.000000,36 months,11.99,B,B5,RENT,100000.00,...,credit_card,FL,10.83,0.0,1.0,10.0,7943.760000,7943.76,1,0

In [25]:
df_grade = pd.get_dummies(df['grade'])
df_subgrade = pd.get_dummies(df['sub_grade'])
df_homeowner = pd.get_dummies(df['home_ownership'])
df_verify = pd.get_dummies(df['verification_status'])
df_purp = pd.get_dummies(df['purpose'])
df_loan = pd.get_dummies(df['loan_status'])
df_address = pd.get_dummies(df['addr_state'])
df_newone = pd.concat([df, df_grade, df_subgrade, df_homeowner, df_verify, df_purp,df_loan, df_address ], axis =1)
df_newone

,id,member_id,loan_amnt,funded_amnt_inv,term,int_rate,grade,sub_grade,home_ownership,annual_inc,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,1077501,1296599,5000.0,4975.000000,36 months,10.65,B,B2,RENT,24000.00,...,0,0,0,0,0,0,0,0,0,0
1,1077430,1314167,2500.0,2500.000000,60 months,15.27,C,C4,RENT,30000.00,...,0,0,0,0,0,0,0,0,0,0
2,1077175,1313524,2400.0,2400.000000,36 months,15.96,C,C5,RENT,12252.00,...,0,0,0,0,0,0,0,0,0,0
3,1076863,1277178,10000.0,10000.000000,36 months,13.49,C,C1,RENT,49200.00,...,0,0,0,0,0,0,0,0,0,0
4,1075358,1311748,3000.0,3000.000000,60 months,12.69,B,B5,RENT,80000.00,...,0,0,0,0,0,0,0,0,0,0
5,1075269,1311441,5000.0,5000.000000,36 months,7.90,A,A4,RENT,36000.00,...,0,0,0,0,0,0,0,0,0,0
6,1069639,1304742,7000.0,7000.000000,60 months,15.96,C,C5,RENT,47004.00,...,0,0,0,0,0,0,0,0,0,0
7,1072053,1288686,3000.0,3000.000000,36 months,18.64,E,E1,RENT,48000.00,...,0,0,0,0,0,0,0,0,0,0
8,1071795,1306957,5600.0,5600.000000,60 months,21.28,F,F2,OWN,40000.00,...,0,0,0,0,0,0,0,0,0,0
9,1071570,1306721,5375.0,5350.000000,60 months,12.69,B,B5,RENT,15000.00,...,0,0,1,0,0,0,0,0,0,0
10,1070078,1305201,6500.0,6500.000000,60 months,14.65,C,C3,OWN,72000.00,...,0,0,0,0,0,0,0,0,0,0
11,1069908,1305008,12000.0,12000.000000,36 months,12.69,B,B5,OWN,75000.00,...,0,0,0,0,0,0,0,0,0,0
12,1064687,1298717,9000.0,9000.000000,36 months,13.49,C,C1,RENT,30000.00,...,0,0,0,0,1,0,0,0,0,0
13,1069866,1304956,3000.0,3000.000000,36 months,9.91,B,B1,RENT,15000.00,...,0,0,0,0,0,0,0,0,0,0
14,1069057,1303503,10000.0,10000.000000,36 months,10.65,B,B2,RENT,100000.00,...,0,0,0,0,0,0,0,0,0,0
15,1069759,1304871,1000.0,1000.000000,36 months,16.29,D,D1,RENT,28000.00,...,0,0,0,0,0,0,0,0,0,0
16,1065775,1299699,10000.0,10000.000000,36 months,15.27,C,C4,RENT,42000.00,...,0,0,0,0,0,0,0,0,0,0
17,1069971,1304884,3600.0,3600.000000,36 months,6.03,A,A1,MORTGAGE,110000.00,...,0,0,0,0,0,0,0,0,0,0
18,1062474,1294539,6000.0,6000.000000,36 months,11.71,B,B3,MORTGAGE,84000.00,...,0,0,0,1,0,0,0,0,0,0
19,1069742,1304855,9200.0,9200.000000,36 months,6.03,A,A1,RENT,77385.19,...,0,0,0,0,0,0,0,0,0,0
20,1069740,1284848,20250.0,19142.161077,60 months,15.27,C,C4,RENT,43370.00,...,0,0,1,0,0,0,0,0,0,0
21,1039153,1269083,21000.0,21000.000000,36 months,12.42,B,B4,RENT,105000.00,...,0,0,0,0,0,0,0,0,0,0
22,1069710,1304821,10000.0,10000.000000,36 months,11.71,B,B3,OWN,50000.00,...,0,0,1,0,0,0,0,0,0,0
23,1069700,1304810,10000.0,10000.000000,36 months,11.71,B,B3,RENT,50000.00,...,0,0,0,0,0,0,0,0,0,0
24,1069559,1304634,6000.0,6000.000000,36 months,11.71,B,B3,RENT,76000.00,...,0,0,0,0,0,0,0,0,0,0
25,1069697,1273773,15000.0,15000.000000,36 months,9.91,B,B1,MORTGAGE,92000.00,...,0,0,0,0,0,0,0,0,0,0
26,1069800,1304679,15000.0,8725.000000,36 months,14.27,C,C2,RENT,60000.00,...,0,0,0,0,0,0,0,0,0,0
27,1069657,1304764,5000.0,5000.000000,60 months,16.77,D,D2,RENT,50004.00,...,0,0,0,0,0,0,0,0,0,0
28,1069799,1304678,4000.0,4000.000000,36 months,11.71,B,B3,MORTGAGE,106000.00,...,0,0,0,0,0,0,0,0,0,0
29,1047704,1278806,8500.0,8500.000000,36 months,11.71,B,B3,RENT,25000.00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,36691397,39434133,20000.0,20000.000000,36 months,6.99,A,A3,MORTGAGE,72000.00,...,0,0,0,0,0,0,0,0,0,0
887350,36500819,39232937,10300.0,10300.000000,60 months,13.66,C,C3,RENT,93600.00,...,0,0,0,0,0,0,0,0,0,0
887351,36743377,39486112,4200.0,4200.000000,36 months,15.99,D,D2,MORTGAGE,48000.00,...,0,0,0,0,0,0,0,0,0,0
887352,36231083,38942474,15000.0,15000.000000,36 months,11.99,B,B5,RENT,70000.00,...,0,0,0,0,0,0,0,0,0,0
887353,36371802,39103231,15000.0,15000.000000,60 months,11.44,B,B4,RENT,57000.00,...,0,0,0,0,0,0,0,0,0,0
887354,36250801,38962184,6000.0,6000.000000,36 months,17.86,D,D5,MORTGAGE,90000.00,...,0,0,0,0,0,0,0,0,0,0
887355,36331554,39042967,26950.0,26950.000000,36 months,8.19,A,A5,RENT,54000.00,...,0,0,0,1,0,0,0,0,0,0
887356,36460697,39182359,23000.0,23000.000000,60 months,15.59,D,D1,MORTGAGE,50000.00,...,0,0,0,0,0,0,0,0,0,0
887357,35773415,38468842,18700.0,18700.000000,60 months,17.86,D,D5,RENT,52000.00,...,0,0,0,0,0,0,0,0,0,0
887358,36440728,39152101,25000.0,25000.000000,60 months,15.99,D,D2,RENT,103000.00,...,0,0,0,0,0,0,0,0,0,0
887359,35591131,38288343,25000.0,25000.000000,60 months,15.59,D,D1,OWN,55000.00,...,0,0,0,0,0,0,0,0,0,0
887360,36361815,39093260,26500.0,26500.000000,60 months,8.67,B,B1,MORTGAGE,92000.00,...,0,0,0,0,0,0,0,0,0,0
887361,36201871,38913321,21000.0,21000.000000,36 months,6.03,A,A1,MORTGAGE,65000.00,...,0,0,0,0,0,0,0,0,0,0
887362,36381756,39013193,8000.0,8000.000000,36 months,8.19,A,A5,MORTGAGE,50000.00,...,0,0,0,0,0,0,0,0,0,0
887363,36231724,38943173,12000.0,12000.000000,36 months,9.49,B,B2,RENT,40000.00,...,0,0,0,0,0,0,0,0,0,0
887364,36231718,38943165,10775.0,10775.000000,36 months,6.03,A,A1,RENT,54000.00,...,0,0,0,0,0,0,0,0,0,0
887365,36381704,39013139,7000.0,7000.000000,36 months,14.31,C,C4,RENT,57000.00,...,0,0,0,0,0,0,0,0,0,0
887366,36241316,38952731,6225.0,6225.000000,36 months,16.49,D,D3,RENT,27000.00,...,0,0,0,0,0,0,0,0,0,0
887367,36301729,39023153,10000.0,10000.000000,36 months,6.49,A,A2,RENT,75000.00,...,0,0,0,0,0,0,0,0,0,0
887368,36250208,38961532,13150.0,13150.000000,60 months,14.99,C,C5,MORTGAGE,30000.00,...,0,0,0,0,0,0,0,0,0,0
887369,36421485,39142898,4000.0,4000.000000,36 months,8.67,B,B1,MORTGAGE,50000.00,...,0,0,0,0,0,0,0,0,0,0
887370,35094480,37777829,7500.0,7500.000000,36 months,9.49,B,B2,RENT,40000.00,...,0,0,0,0,0,0,0,1,0,0
887371,36260758,38972123,10850.0,10850.000000,36 months,19.24,E,E2,OWN,32000.00,...,0,0,0,0,0,0,0,0,0,0
887372,36330911,39042282,12000.0,12000.000000,36 months,11.99,B,B5,MORTGAGE,63000.00,...,0,0,0,0,0,0,0,0,0,0
887373,36221446,38932858,11575.0,11575.000000,36 months,15.59,D,D1,RENT,25400.00,...,0,0,1,0,0,0,0,0,0,0
887374,36371250,39102635,10000.0,10000.000000,36 months,11.99,B,B5,RENT,31000.00,...,0,0,0,0,0,0,0,0,0,0
887375,36441262,39152692,24000.0,24000.000000,36 months,11.99,B,B5,MORTGAGE,79000.00,...,0,0,0,0,0,0,0,0,0,0
887376,36271333,38982739,13000.0,13000.000000,60 months,15.99,D,D2,RENT,35000.00,...,0,1,0,0,0,0,0,0,0,0
887377,36490806,39222577,12000.0,12000.000000,60 months,19.99,E,E3,RENT,64400.00,...,0,0,0,0,0,0,0,0,0,0
887378,36271262,38982659,20000.0,20000.000000,36 months,11.99,B,B5,RENT,100000.00,...,0,0,0,0,0,0,0,0,0,0

In [26]:
df_newone.shape

(887379, 146)

In [28]:
df_newone.drop(['term', 'grade','sub_grade' , 'home_ownership', 'verification_status', 'loan_status', 'purpose', 'addr_state'], inplace=True, axis=1)

In [29]:
df_newone.shape

(887379, 138)

In [30]:
df_newone.to_csv(r'C:\Users\Admin\Desktop\Data Science Methods and Tools\lending-club-loan-data\loan_cleaned.csv', index = None, header=True)

In [30]:
df_newone.head(5)
intRate=df_newone['int_rate']
print(df_newone.shape,'Bfore deleting column')
del df_newone['int_rate']
print(df_newone.shape,'after deng column')
df_newone['int_rate']=intRate
print(df_newone.shape,'after adding column')
X = df_newone.iloc[:, :-1].values
print(X.shape,'after slicing column')
y = df_newone.iloc[:, -1:].values
print(y.shape,'after last  column')
print(y)

(887379, 138) Bfore deleting column
(887379, 137) after deng column
(887379, 138) after adding column
(887379, 137) after slicing column
(887379, 1) after last  column
[[10.65]
 [15.27]
 [15.96]
 ...
 [15.99]
 [19.99]
 [11.99]]

In [100]:
!pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in c:\programdata\anaconda3\lib\site-packages (0.20.3)
Requirement already satisfied, skipping upgrade: numpy>=1.8.2 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.15.4)
Requirement already satisfied, skipping upgrade: scipy>=0.13.3 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)

You are using pip version 19.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [31]:
#Splitting the dataset into Training and Testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 0)

In [32]:
df_newone.head(1)

,id,member_id,loan_amnt,funded_amnt_inv,annual_inc,dti,delinq_2yrs,inq_last_6mths,total_acc,total_pymnt,...,TN,TX,UT,VA,VT,WA,WI,WV,WY,int_rate
0,1077501,1296599,5000.0,4975.0,24000.0,27.65,0.0,1.0,9.0,5861.071414,...,0,0,0,0,0,0,0,0,0,10.65

In [33]:
from sklearn.linear_model import LinearRegression
#Fitting Simple Linear Regression to the training set
regressor = LinearRegression()
regressor.fit(X_train, y_train)
#Predicting the Test set result
y_pred = regressor.predict(X_test)

In [38]:
print(y_pred[0:10])

[[ 9.27355165]
 [ 7.14627054]
 [ 9.82184687]
 [12.58900366]
 [14.62819596]
 [12.07885362]
 [17.12028428]
 [12.90456545]
 [ 7.44990649]
 [ 5.01528059]]

In [39]:
print(y_test[0:10])

[[ 9.17]
 [ 5.99]
 [10.16]
 [12.99]
 [14.64]
 [11.99]
 [16.49]
 [12.69]
 [ 7.89]
 [ 5.32]]

In [118]:
import matplotlib.pyplot as plt

In [36]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [37]:
mean_absolute_percentage_error(y_test, y_pred)

3.0825154744416157

In [46]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 100, random_state = 0)
rf.fit(X_train,y_train)
#Predicting the new result
y_predict = rf.predict(X_test)

In [47]:
print(y_predict[0:10])

[ 9.17        5.9963     10.1105     12.95       14.6268     11.99
 16.49       12.69        7.89000243  5.32      ]

In [48]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [49]:
mean_absolute_percentage_error(y_test, y_predict)

MemoryError:

In [50]:
from sklearn.model_selection import cross_val_score

In [53]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(estimator = regressor,X =  X_train, y = y_train, cv=5)

In [54]:
scores.mean()

0.9810237779631311

In [55]:
scores.std()

0.00019043030950336129

In [ ]:
accuracy = cross_val_score(estimator = rf ,X =  X_train, y = y_train, cv=5)